<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RestAssuredAPI.InfyAssignment.question1_GetWeatherDetails"/>
      <class name="RestAssuredAPI.InfyAssignment.question2bdd_getMethodAssertion"/>
      <class name="RestAssuredAPI.InfyAssignment.question3_postCustomerDetails"/>
      <class name="RestAssuredAPI.InfyAssignment.question4_postMethodValidation"/>
      <class name="RestAssuredAPI.InfyAssignment.question5_putMethodJsonFile"/>
      <class name="RestAssuredAPI.InfyAssignment.question6_putMethodValidation"/>
      <class name="RestAssuredAPI.InfyAssignment.question7_deleteMethod"/>
      <class name="RestAssuredAPI.InfyAssignment.question8_deleteMethodValidation"/>
      <class name="RestAssuredAPI.InfyAssignment.question9_getMethodValidation"/>
 
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
